<div class="card">
  <div class="card-header bg-light">
    <strong>Temas sugeridos:</strong>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Sociedades Comerciales</li>
    <li class="list-group-item">Patrimonio de las Sociedades Comerciales</li>
    <li class="list-group-item">Disolución  y Liquidación de Sociedades Comerciales</li>
    <li class="list-group-item">Transformación  y Fusión de Sociedades Comerciales</li>
    <li class="list-group-item">Mandato, Agencias y Sucursales</li>
  </ul>
</div>
